/* button {
    font-size: 12px;
    background-color: green;
    padding: 15px 30px;
    color: white;
    width: 100px;

}

.count {

    font-size: 100px;
}

.reset {
    font-size: 16px;
    background-color: red;
    padding: 15px 30px;
    color: white;
    width: 200px;

}

body {

    padding: 15px 30px;
} */